{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset="utf-8"/>
    <br>
    <h2>Contáctanos</h2>
    <br>
</head>

<body>
    <p>Este taller fue elaborado para la clase de Programación en la web,
    del grupo H2.</p><br>
    <center><div class="boxx">
            <h3>Diseñado y elaborado por:</h3><br>
                <a>Jorge Andrés Cárdenas Paradac-c2182060</a><br>
                <a>Email: Jorgeabc5552819@gmail.com</a><br><br>
                
                <a>Yaire Catalina López Santana - 2182061</a><br>
                <a>Email: yairecata.13lopez@gmail.com</a>
    </div></center>
</body>
</html>
{% endblock %}